extends skeleton


block tabContent
    .py-5.bg-light
        .container
            .row
                form(action='/appoints/add', method='post')
                    .row
                        .mb-3
                            label Choose a dog
                            .table-responsive
                                table.table.table-striped
                                    thead
                                        tr
                                            th
                                            th Name
                                            th Breed
                                            th Birthday
                                    tbody
                                        mixin dog(val)
                                            tr
                                                td
                                                    input(type="radio", name="dog", value=val.id)
                                                td= val.name
                                                td= val.breed
                                                td= val.birthday

                                        if dogs != null
                                            each val in dogs
                                                +dog(val)
                    .row
                        .mb-3
                            label Choose a date
                            input.form-control(id='date', type = 'date', name='date', required)
                    .row
                        .mb-3(id = 'timeSlot')
                            button.btn.btn-primary(type='button', id='chooseTS') Choose time slot

                    .row
                        .mb-3
                            label Choose a grooming option
                            select.custom-select.d-block.w-100(name="option" required)
                                option(value="") Choose...
                                option wash only
                                option wash and nail clipping
                                option deluxe grooming
                    .row
                        .mb-3
                            label Additional comment
                            input.form-control(type = 'text', name='comment')
                    .row
                    button.btn.btn-primary(type='submit') Confirm

